@model List<UserModel>

@{
    ViewData["Title"] = "Users";
}

<div>
    <h1>All Users</h1>
    <form asp-controller="User" asp-action="UpdateStatus" method="post"> 
       
         
        <button type="submit" name="action" value="lock"> 
            <img src="~/Security-Safe-Lock-PNG.png" style="width:50px; height:50px; ">
            
        </button>

        <button type="submit" name="action" value="unlock"> 
            <img src="~/kisspng-computer-icons-lock-unlock-font-lock-5ac026af46ed84.1408508615225422552905.jpg" style="width:50px; height:50px; ">
        </button>

        <button type="submit" name="action" value="delete"> 
            <img src="~/delete.png" style="width:50px; height:50px;  " >
        </button>
    <table >
        <tr>
            <th><input id="myCheckbox" type="checkbox" onclick="CheckingForStatus();"/>Choose</th> 
            <th>Id</th>
            <th>Name</th>
            <th>Email</th>
            <th>StatusName</th>
            <th>LastLoginDate</th>
            <th>RegistrationDate</th>
        </tr>
             
                @for(int i=0;i<Model.Count;i++){   

                    <input type="hidden" asp-for="@Model[i].Id">
                    <input type="hidden" asp-for="@Model[i].Name">
                    <input type="hidden" asp-for="@Model[i].Email">
                    <input type="hidden" asp-for="@Model[i].StatusName">
                    <input type="hidden" asp-for="@Model[i].LastLoginDate">
                    <input type="hidden" asp-for="@Model[i].RegistrationDate">

                <tr>
                    <td><input class = "status" type="checkbox" asp-for="@Model[i].IsChosen"></td>
                    <td><label asp-for="@Model[i].Id">@Model[i].Id</label></td>
                    <td><label asp-for="@Model[i].Name">@Model[i].Name</label></td>
                    <td><label asp-for="@Model[i].Email">@Model[i].Email</label></td>
                    <td><label asp-for="@Model[i].StatusName">@Model[i].StatusName</label></td>
                    <td><label asp-for="@Model[i].Email">@Model[i].LastLoginDate</label></td>
                    <td><label asp-for="@Model[i].StatusName">@Model[i].RegistrationDate</label></td>
                </tr> } 
    </table>
        
    </form>
     

    @section Scripts
        {
        <script src="~/js/site.js" asp-append-version="true"></script>
        <script src="~/js/CheckUncheck.js" asp-append-version="true"></script>
    }

</div>